@import url(https://fonts.googleapis.com/css?family=Roboto)
@import './variables.styl'
@import './custom-icons.styl'
@import './app.styl'
@import './item.styl'

/* Main */
body
	font-family 'Roboto', sans-serif
	background-color whitesmoke

#root
	margin-top 80px
	
/* Text */
.text-warning
	color $warning
	
.text-green
	color $green

.text-dark-green
	color $darkGreen

.text-orange
	color $darkOrange

.text-yellow
	color $yellow

/* Alerts */
.alert-default
	background-color: #F7F7F7;
	border-color: #F1F1F1;
	color: #8F8F8F;
	
/* Columns */
.col-degutter-l
	padding-right 0
	
.col-degutter-r
	padding-left 0

.col-p
	margin-right 10px
	
.col-p-20
	float left
	width 20%
	margin-left 0px
	margin-right 0px
	padding-left 0px
	padding-right 0px
	
	&:nth-of-type(5) .col-p
		margin-right 0px

.clear
	clear both
		
.box	
	background-color white
	height 150px

/* Alerts */
.alert
	border-width 3px 
	border-radius 0
	
/* Progress Bars */
.progress
	height 40px
	margin-bottom 0
	
.progress-bar
	line-height 40px

.progress-bar-empty
	background-color $grey
	
/* Glyphicon */
.glyphicon-scale-5-4
	transform scale(5, 4)