$fontSize    = 14px

$brightOrange  = #F6CBAE
$darkOrange    = #884117

$brighterGreen = #F4FFF0
$brightGreen   = #C6DFB5
$green         = #3C763D
$darkGreen     = #264C27

$brighterRed   = #FDF7F7
$brightRed     = #f2dede
$darkRed       = #883635

$darkInfo      = #26576F

$warning       = #FED86E

$yellow        = #FCBD25

$grey          = #D8D8D8